<!DOCTYPE HTML>
<html>
	<head>
		<title>ABOUT EDUALITY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">Eduality</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="generic.html">About us</a></li>
					<li><a href="profile.html">My profile</a></li>
					<li><a href="index.html">Dashboard</a></li>
					<li><a href="categories.html">Categories</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>ABOUT US</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h1>Eduality concept</h1>
						</header>
						<p>It all started in february 2020 in Malaga, Andalucia. 6 students attending the same course of the Malag University decided to take a step forward. They were done with unfair ratings on websites, complicated designs and unbigous resources. This is when Eduality first appeared.  </p>
						<h2>Team members</h2>
						<p> Lorenzo Velasco Sánchez: Programming and Testing</p>
<p>Álvaro Lloret López: Leader Project Management and requirements</p>
<p>Antonio Jesús Canales Delgado: Technical leader and Database</p>
<p>Manuel Leiva Gómez: Research and Programming</p>
<p>Andreea Nuță: Design and testing</p>
<p>Liana Șacu: Design and requirements</p>
 <p>Eduality is a platform where content creators pick a domain (from a wide variety of categories like science, photography, sports) and share papers, videos, podcasts in order to get points/recognition from other users for their content. The content is sorted by a fair algorithm. For our top users we also provide "rewards" like the opportunity to be published in a real magazine, that way we motivate users to post content.
</p>
<p>  In modern society, certain subjects have been heavily controlled by a little group of people who decide what should and should not be popular. Eduality allows people to promote themselves and get the recognition that they deserve, to the extent of even getting the chance of working with brands we have agreements with.
</p>
						<hr />
						<h2>Working process</h2>
						<p>In development, we will work in teams so we will be able to achieve extreme programming methodologies like pair programming, creating tests for other developers, etc.</p>
						<p> The main idea is that, firstly, we will divide the activities into smaller tasks, after that we will try to solve them by our own, then we will meet to try to achieve the best possible solution for each task using the ideas that we developed alone. Once we get a common solution we should check if it fulfills the constraints of our main problem.</p>
					<hr />
						<h2>Requirements</h2>
						<img src="images/unknown.png" width="1000" height="400" alt="Computer Hope"></img>
						<hr />
						<h2>Architectural Style - REST Architecture </h2>
						<p>This architecture is a magnificent choice for our project. As you have seen it’s simple, goes straight to the point and it’s very fast.

It makes it easy to separate client and server and using connectors based on HTTP (GET, POST, PUT) make the documentation simple and the project easier to maintain the long term.
</p>
<img src="images/REST.png" ></img>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>Sem turpis amet semper</h4>
							<ul class="alt">
								<li><a href="#">Dolor pulvinar sed etiam.</a></li>
								<li><a href="#">Etiam vel lorem sed amet.</a></li>
								<li><a href="#">Felis enim feugiat viverra.</a></li>
								<li><a href="#">Dolor pulvinar magna etiam.</a></li>
							</ul>
						</section>
						<section>
							<h4>Magna sed ipsum</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
