<!DOCTYPE HTML>
<html>
<style>
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
</style>

	<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
		<title>EDUALITY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">EDUALITY</a>
				
				 <nav style="position:absolute; margin-left:100px;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
        <ul style=" background-color: #111111;
  color: white; -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; content: '\f00d';
      font-size: 1.25rem;
"class="dropdown-menu">
          <li><a style="" href="generic.html">Animals</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Cardiovasculatiry</a></li>
		  <li><a href="#">Doplhins</a></li>
          <li><a href="#">Engineering</a></li>
		  <li><a href="#">Facts</a></li>
          <li><a href="#">GitHub</a></li>
		  <li><a href="#">History</a></li>
          <li><a href="#">Informatics</a></li>
		  <li><a href="#">Photography</a></li>

		  
        </ul>
				</nav>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
		
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					
					<li><a href="generic.html">About us</a></li>
					<li><a href="profile.html">My profile</a></li>
					<li><a href="index.html">Dashboard</a></li>
					<li><a href="categories.html">Categories</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					
					
				</div>
				<img src="images/banner.png"></img>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>A place for knowledge</h2>
						<p>Eduality is a platform where content creators pick a domain (from a wide variety of categories like science, photography, sports) and share papers, videos, podcasts in order to get points/recognition from other users for their content. </p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Connection</h3>
								</header>
								<p>You can connect with other people intersted in the samefield as you.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Variety</h3>
								</header>
								<p>Different topics from many domains found in the same simple accesible place</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Resources</h3>
								</header>
								<p>Save and store reliable informations easy and free.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Improvement</h3>
								</header>
								<p>Make your knowledge grow faster and imporve your work statistics</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Feedback</h3>
								</header>
								<p>Provide and receive constant feedback through a fair algorithm.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Simplicity</h3>
								</header>
								<p>You can navigate through different pages easily through the accesible interface.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Promote yourself and get the recognition that you deserve</h2>
					<p>In modern society, certain subjects have been heavily controlled by a little group of people who decide what should and should not be popular. Eduality allows people to promote themselves and get the recognition that they deserve, to the extent of even getting the chance of working with brands we have agreements with.
</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>This is a place for everyone</h2>
						<p>In our platform at the same time that we compensate and value our most experts users we make sure that newcomers influence and have a similar potential so that our ranking system is not exploited by a small minority with a lot of power.</p>
					</header>
					<div class="testimonials">
					<section>
							<div class="content">
								<blockquote>
									<p>I turn to Eduality for almost eveything I want to know. It's trustworthy and it even helps me with my schoolwork!</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic.01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Nuta Andreea</strong> <span>,Eduality S.A.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>ALL SHE WANNA DO</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Antonio Jesús Canales Delgado</strong> <span>,Eduality S.A.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>As a student, Eduality has helped me finding information about my interests and satisfying my curiosity about any topic I could think of.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/Leiva.jpeg" alt="" />
									</div>
									<p class="credit">- <strong>Manuel Leiva Gómez</strong> <span>,Eduality S.A.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Eduality is the supreme platform for those who want their digital content fairly valued.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/alvaro.jpeg" alt="" />
									</div>
									<p class="credit">- <strong>Álvaro Lloret López</strong> <span>,Eduality S.A.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p> IS PARTY ALL NIGHT</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/liana.jpeg" alt="" />
									</div>
									<p class="credit">- <strong>Sacu Liana</strong> <span>,Eduality S.A.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>As a content creator Eduality has helped me leverage my engagement and allowed me to get the audience that my content deserves.
Furthermore, brand agreements helped me get sponsorship which motivate me to create even more.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/lorenzo.jpeg" alt="" />
									</div>
									<p class="credit">- <strong>Lorenzo Velasco Sánchez</strong> <span>,Eduality S.A.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>How is all of this possible?</h3>
							<p> The magnificent work of 6 UMA students.
							
							We divided the activities into smaller tasks, after that we tried to solve them by our own, then we met to try to achieve the best possible solution for each task using the ideas that we developed alone. Once we got a common solution we checked if it fulfills the constraints of our main problem.</p>
						</section>
						<section>
							<h4>Can we help you with anything else?</h4>
							<ul class="alt">
								<li><a href="#">Report inappropiate content</a></li>
								<li><a href="#">Report user</a></li>
								<li><a href="#">Regulations and privacy</a></li>
								<li><a href="#">More questions</a></li>
							</ul>
						</section>
						<section>
							<h4>You can find us here</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; UMA. Introduction <a href="">to</a>, Software <a href="">Engineering</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
